.page {
    font-family: "Helvetica Neue", Arial, sans-serif;
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
}

.header {
    background-color: #dcdcdc;
    justify-content: center;
    position: relative;
    height: 120px;
    display: flex;
}

.logo {
    position: absolute;
    display: flex;
    margin: 20px;
    height: 80px;
    width: 80px;
    left: 0;
}

.heading {
    flex-direction: column;
    align-self: center;
    display: flex;
}

.content {
    background-color: #a3c6c0;
    min-height: 773px;
}

.content-homepage {
    background-color: #a3c6c0;
    justify-content: center;
    min-height: 793px;
    display: flex;
}

.title {
    text-decoration: none;
    margin: 0 auto 10px;
    font-weight: 600;
    color: #000000;
    font-size: 36px;
}

.subtitle {
    font-weight: 400;
    font-size: 20px;
    margin: 0 auto;
}

.search-box {
    position: absolute;
    bottom: 35px;
    right: 50px;
}

.buttons {
    background-color: #dcdcdc;
    justify-content: center;
    display: flex;
}

.button {
    justify-content: center;
    text-decoration: none;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    height: 30px;
    width: 90px;
}

.button:nth-child(1) {
    background-color: #daa520;
}

.button:nth-child(2) {
    background-color: #b22222;
}

.button:nth-child(3) {
    background-color: #008000;
}

.button:nth-child(4) {
    background-color: #483d8b;
}

.button:nth-child(5) {
    background-color: #8b008b;
}

.button:hover {
    color: #000000;
    cursor: pointer;
}

.footer {
    background-color: #dcdcdc;
    justify-content: end;
    display: flex;
}

.links {
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 5px;
    display: flex;
    width: 130px;
    height: 30px;
}

.github {
    align-self: center;
}

.logo__github {
    height: 30px;
    width: 30px;
}

.author {
    text-decoration: none;
    align-self: center;
    font-size: 18px;
    color: #000000;
}

.author:hover {
    color: #8a2be2;
}

.film-adding-form {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    display: flex;
}

.film-information {
    margin: 20px 0 0 0;
    font-size: 20px;
}

.add-form {
    flex-direction: column;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.form-buttons {
    margin: 20px;
}

.table-content {
    justify-content: center;
    padding: 20px;
    display: flex;
}

.thead {
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    height: 40px;
    width: 80px;
    justify-content: center;
}

.tbody {
    font-size: 18px;
    height: 24px;
}

.tbody:nth-of-type(2n) {
    background-color: #dcdcdc;
}

.edit-delete {
    display: flex;
    width: 150px;
}
