.page {
  font-family: "Helvetica Neue", Arial, sans-serif;
  max-width: 1000px;
  min-width: 600px;
  margin: 0 auto;
}

.header {
  justify-content: space-between;
  background-color: #dcdcdc;
  margin: 150px auto 0;
  display: flex;
}

.logo {
  margin: 20px 0 20px 20px;
  display: flex;
  height: 80px;
  width: 80px;
}

.heading {
  justify-content: center;
  flex-direction: column;
  align-self: center;
  display: flex;
}

.title {
  margin: 0 auto 10px;
  font-weight: 600;
  font-size: 36px;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  margin: 0 auto;
}

.buttons {
  justify-content: space-evenly;
  align-content: space-between;
  flex-direction: column;
  margin-right: 20px;
  align-self: center;
  flex-wrap: wrap;
  display: flex;
  height: 100px;
  width: 300px;
  gap: 8px;
}

.button {
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  height: 30px;
  width: 90px;
}

.button:nth-child(1) {
  background-color: #daa520;
}

.button:nth-child(2) {
  background-color: #008000;
}

.button:nth-child(3) {
  background-color: #b22222;
}

.button:nth-child(4) {
  background-color: #483d8b;
}

.button:nth-child(5) {
  background-color: #8b008b;
}

.button:hover {
  color: #000000;
}

.table {
  justify-content: space-around;
  grid-auto-columns: auto;
  display: grid;
}

.footer {
  background-color: #dcdcdc;
  justify-content: end;
  display: flex;
}

.links {
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 5px;
  display: flex;
  width: 130px;
  height: 30px;
}

.github {
  align-self: center;
}

.logo__github {
  height: 30px;
  width: 30px;
}

.author {
  text-decoration: none;
  align-self: center;
  font-size: 18px;
  color: #000000;
}

.author:hover {
  color: #8a2be2;
}

.film-adding-form {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.film-information {
  margin: 20px 0 0 0;
  font-size: 20px;
}

.add-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 600px;
}
