<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="shortcut icon" th:href="@{/images/icon.ico}"/>
    <title>FilmoRate | Add film</title>
</head>
<body>
<div class="page">
    <header class="header">
        <a class="logo" href="/"
        ><img
                class="logo__filmorate"
                src="/images/logo_filmorate.png"
                alt="Логотип ФильмоРейт"
        /></a>
        <div class="heading">
            <h1 class="title">FilmoRate</h1>
            <h2 class="subtitle">Interactive panel for films selection</h2>
        </div>
        <div class="buttons">
            <a class="button" href="/films/add">Add film</a>
            <a class="button" href="/users/add">Add user</a>
            <a class="button" href="/films">Films</a>
            <a class="button" href="/users">Users</a>
            <a class="button" href="/">Home</a>
        </div>
    </header>

    <main class="content">
        <div class="film-adding-form">
            <h1 class="film-information">Please insert the film information:</h1>
            <form action="/films/add" method="post" class="add-form">
                <input type="text" name="name" placeholder="insert name"/>
                <textarea
                        name="description"
                        placeholder="insert description"
                ></textarea>
                <input
                        type="number"
                        name="duration"
                        placeholder="insert duration"
                />
                <input
                        type="date"
                        name="date"
                        placeholder="insert release date"
                />
                <button type="submit" class="submit">submit</button>
                <button type="reset" class="reset">reset</button>

            </form>

        </div>
    </main>
    <footer class="footer">
        <div class="links">
            <a class="author" href="https://github.com/B10nicle">Oleg Khilko</a>
            <a class="github" href="https://github.com/B10nicle"
            ><img
                    class="logo__github"
                    src="/images/logo_github.svg"
                    alt="Логотип ГитХаб"
            /></a>
        </div>
    </footer>
</div>
</body>
</html>